* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Prevents layout issues */
  font-family: sans-serif;
  color: black;
}

body {
  background-color: #eeeeee;
  background-image: url("../assets/brushed-alum-dark.png");
}
#root {
  height: 100vh;
  width: 100%;
  display: flex; /* Use flex for proper alignment */
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally Center Items */
}
