.input-container {
  width: 109%;
  height: 3rem;
  margin-bottom: -5rem;
  display: flex;
  gap: 5px;
  justify-content: left;
  padding-left: 20px;
  padding-top: 5px;
}

.input-container .userInput {
  width: calc(100% - 80px); /* Adjust width dynamically */
  padding: 10px;
  font-size: 16px;
  border: 2px solid #8e1616; /* Match the theme */
  border-radius: 5px;
  background-color: #1d1616;
  color: #eeeeee;
  outline: none;
  overflow-x: wrap;
}

.input-container .inputBtn {
  border-radius: 50%;
  height: 2.8rem;
  width: 2.8rem;
  border: 3px solid #8e1616;
  background-color: #1d1616;
}

.input-container .inputBtn:hover {
  background-color: #eeeeee; /* Change background color on hover */
}
